@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #63696a;
    font-family: 'Nunito', sans-serif;
}

nav{
    font-family: 'Nunito', sans-serif;
}

div {
    font-family: 'Nunito', sans-serif;
}
h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    margin: 0 0 0px;
}

h2 {
    color: #fff;
    font-size: 90px;
    font: bold;
    text-align: center;
    height: 120px;
    margin: 0;
}

button {
    background-color: #93c247;
    color: #00224d;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

button:hover {
    background-color: #60812a;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    background: #464746;
    padding: 7px 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.navbar a {
    text-decoration: none;
    text-emphasis-color: white;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo {
    font-size: 30px;
    background-color: #464746;
    color: #fff;
    font-weight: 600;
    border-radius: 40px;
    margin-top: 0px;
    padding: 10px 20px;
}

.logo:hover {
    background-color: #a698c5;
}

.navbar-button-one {
    background-color: #464746;
    color: #fff;
    margin-top: 0px;
    font-weight: lighter;
    border-radius: 40px;
    padding: 15px 20px;
    justify-content: center;
}

.navbar-button-two:hover {
    background-color: #872411;
}

.navbar-button-two {
    background-color: #ea4221;
    color: #fff;
    margin-top: 0px;
    font-weight: lighter;
    border-radius: 30px;
    padding: 10px 17px;
    align-items: center;
}

.navbar-button-one:hover {
    background-color: #1a8ab7;
}

.emoji-one {
    position: absolute;
    right: 150px;
    bottom: 330px;
    font-size: 100px;
    rotate: -12deg;
}

@media screen and (max-width: 800px){
    .content-wrapper {
        padding: 20px;
    }

    .emoji-three {
        display: none;
    }

    .emoji-four {
        display: none;
    }
}

@media screen and (max-width: 600px){
    .emoji-one {
        display: none;
    }

    .emoji-two {
        display: none;
    }
}

.emoji-two {
    position: absolute;
    left: 150px;
    bottom: 330px;
    font-size: 100px;
    rotate: 12deg;
}

.emoji-three {
    position: absolute;
    right: 250px;
    bottom: 20px;
    font-size: 100px;
    rotate: 10deg;
}

.emoji-four {
    position: absolute;
    left: 250px;
    bottom: 20px;
    font-size: 100px;
    rotate: -10deg;
}

.acronym {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}