body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    font-size: 50px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #f0f0f0;
}

h2 {
    color: #333;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: #f0f0f0;
}

button {
    background-color: #3e8fe5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}