@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #63696a;
    font-family: 'Nunito', sans-serif;
}

nav {
    font-family: 'Nunito', sans-serif;
}

div {
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    width: 500px;
    background-color: #464746;
    color: white;
    border-radius: 20px;
    padding: 30px 40px;
    justify-content: center;
    align-items: center;
}

/* .container {
    display: flexbox;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #464746;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;
    color: white;
} */

.container {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 880px) {

    #hi-Btn,
    #lo-Btn,
    #hilo-Btn {
        margin: 0px !important;
        /* Adjust the margin value to create more space */
    }

    .box-1 button {
        font-size: 12px;
        padding: 10px 15px;
    }

    .container .box-2 h1,
    .container .box-2 h2,
    .container .box-2 p,
    .container .box-2 label {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 880px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container .box-2 p {
        font-size: 20px !important;
    }

    .container .box-2 h1,
    .container .box-2 h2,
    .container .box-2 p,
    .container .box-2 label {
        font-size: 20px !important;
    }

    .progress-bar {
        flex: 1;
        width: 70%;
        margin-left: -30px !important;
    }

    button {
        font-size: 10px;
    }

    #roll-Btn {
        font-size: 15px;
    }

    .logo {
        font-size: 25px;
    }

    .container .box-1 h1 {
        font-size: 25px !important;
    }

    #highMul-Text {
        margin: 0;
    }

    /* Adjust button styles for smaller screens */
    .box-1 button {
        font-size: 12px;
        padding: 10px 15px;
    }

    /* Ensure buttons in box-1 stay on the same line */
    .box-1 button {
        white-space: nowrap;
        /* Prevent button text from wrapping */
        margin-right: 5px;
        /* Add spacing between buttons */
    }

    #hi-Btn,
    #lo-Btn,
    #hilo-Btn {
        margin: 0px !important;
        /* Adjust the margin value to create more space */
    }

    #baseAdd-Text {
        font-size: 12px !important; /* Adjust the font size as needed */
    }   

   
}

@media screen and (max-width: 400px) {
    #highMul-Text,
    #lowMul-Text,
    #rollingTime-Text,
    #hiloMul-Text,
    #baseAdd-Text,
    #autoDice-Text {
        font-size: 12px !important;
    }

    .progress-bar {
        width: 90% !important; /* Increase the width of the progress bar */
        margin-left: 5% !important; /* Adjust the margin to center the progress bar */
    }

    .upgrade-content {
        justify-content: flex-end !important; /* Move the content to the right side */
        margin-left: auto !important; /* Align the content to the right */
    }

    #highMul-Text,
    #lowMul-Text,
    #rollingTime-Text,
    #hiloMul-Text,
    #baseAdd-Text,
    #autoDice-Text {
        margin-right: 0px !important; /* Add margin to the right side of the text */
    }

    .progress-bar {
        flex: 1;
        width: 70%;
        margin-left: -40px !important;
    }

}

.box-1,
.box-2 {
    margin: 20px;
    min-width: 0px;
    flex: 1;
    background-color: #464746;
    color: white;
    border-radius: 20px;
    padding: 30px 40px;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    min-width: 0px;
    flex: 1;
    background-color: #464746;
    color: white;
    border-radius: 20px;
    padding: 30px 40px;
}

/* .box-1 {
    margin-top: 20px;
    margin-right: 50px;
}

.box-2 {
    margin-top: 20px;
    margin-left: 50px;
} */

button {
    background-color: #93c247;
    color: #00224d;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

#hi-Btn,
#lo-Btn,
#hilo-Btn {
    margin: 10px;
    /* Adjust the margin value to create more space */
}

#roll-Btn {
    margin-top: 0px;
    background-color: #ea4221;
    color: white;
    font-size: 20px
}

.upgrade-Btn {
    margin: 5px;
    padding: 5px 10px;
}

#result {
    font-weight: bold;
}

canvas {
    max-width: 500px;
    display: block;
    margin: 10px auto;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar {
    background: #464746;
    padding: 7px 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.navbar a {
    text-decoration: none;
    text-emphasis-color: white;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo {
    font-size: 30px;
    background-color: #464746;
    color: #fff;
    font-weight: 600;
    border-radius: 40px;
    margin-top: 0px;
    padding: 10px 20px;
}

.logo:hover {
    background-color: #a698c5;
}

.navbar-button-one {
    background-color: #464746;
    color: #fff;
    margin-top: 0px;
    font-weight: lighter;
    border-radius: 40px;
    padding: 15px 20px;
    justify-content: center;
}

.navbar-button-two:hover {
    background-color: #872411;
}

.navbar-button-two {
    background-color: #ea4221;
    color: #fff;
    margin-top: 0px;
    font-weight: lighter;
    border-radius: 30px;
    padding: 10px 17px;
    align-items: center;
}

.navbar-button-one:hover {
    background-color: #1a8ab7;
}

.input-box {
    display: inline-block;
    /* Ensure the input box is inline */
    position: relative;
    /* Ensure positioning context for the absolute icon */
    margin-right: 10px;
    /* Add margin right to create space between elements */
}

#bet-value {
    padding: 10px;
    border: none;
    border: 2px solid #6c6e6c;
    /* Change border color to red */
    border-radius: 5px;
    font-size: 16px;
    /* Adjust the width to accommodate the icon */
    box-sizing: border-box;
    /* Ensures padding and border are included in the element's total width */
    background-color: transparent;
    /* Change background color to red */
    color: white;

}

.input-box i {
    position: absolute;
    right: 10px;
    /* Adjust the position to match the padding */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upgrade-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 40px;
}

.upgrade-label {
    flex: 1;
    text-align: right;
    margin-right: 50px;
}

.upgrade-content {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.progress-bar {
    flex: 1;
    margin-left: 0px;
    /* Set the desired width here */
    width: 50%;
}

.box-2 h1,
.box-2 h2,
.box-2 p,
.box-2 label {
    font-size: 25px;
}

.box-2 p {
    font-size: 25px;
}

.box-2 progress {
    height: 15px;
}

.box-2 p {
    font-size: 13px;
    margin-top: 0;
}

#ruleButton {
    font-size: 20px;
}

.box-2 h2 {
    margin-top: 0;
}

#highMul-Text,
#lowMul-Text,
#rollingTime-Text,
#hiloMul-Text,
#baseAdd-Text,
#autoDice-Text {
    margin: 10px;
    /* Reset margin to remove floating */
}

#highMul-Text,
#lowMul-Text,
#rollingTime-Text,
#hiloMul-Text,
#baseAdd-Text,
#autoDice-Text {
    font-size: 20px;
}

.container .box-2 p {
    font-size: 25px;
}