<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiLo Game</title>
    <link rel="stylesheet" href="game_style.css">
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
</head>
<body>
    
    <div class="container">
        <h1>HiLo Game : <span id = "game-State"></span></h1>
        <p>Current result : <span id="result"></span> <span id = "winning-status"></span></p>
        <p>Timer : <span id = "timer-Text"></span></p>
        <p>Your bet : <input type="number" id="bet-value"></p>
        <button id = "hi-Btn">Higher</button>
        <button id = "lo-Btn">Lower</button>
        <button id = "hilo-Btn">HiLo</button>
        <br>
        <button id = "roll-Btn">Roll</button>
        <p id="result"></p>
        <p>Score: <span id="score1">0</span></p>
        <br>
        <button id="homeButton">Back to Home</button>
    </div>
    <div id="gameCanvas"></div>
    <div class="container">
        <h1>Account Statistic</h1>
        <h2 id = "username">Rank : </h2>
        <h2>Upgrade</h2>

        <label for="file">Rolling Time : </label>
        <progress id="rollingTime" value="0" max="100" style = "display : inline"></progress>
        <p id = "rollingTime-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" id = "rollingTime-Btn" onclick= "upgrade('rollingTime')">10</button>
        <br>

        <label for="file">Hi Multiplier : </label>
        <progress id="highMul" value="0" max="100" style = "display : inline"></progress>
        <p id = "highMul-Text", style = "display: inline">3</p>
        <button class = "upgrade-Btn" id = "highMul-Btn" onclick = "upgrade('highMul')">10</button>
        <br>

        <label for="file">Lo Multiplier : </label>
        <progress id="lowMul" value="0" max="100" style = "display : inline"></progress>
        <p id = "lowMul-Text", style = "display: inline">2</p>
        <button class = "upgrade-Btn" id = "lowMul-Btn" onclick = "upgrade('lowMul')">10</button>
        <br>

        <label for="file">HiLo Multipler : </label>
        <progress id="hiloMul" value="0" max="100" style = "display : inline"></progress>
        <p id = "hiloMul-Text", style = "display: inline">5</p>
        <button class = "upgrade-Btn" id = "hiloMul-Btn" onclick = "upgrade('hiloMul')">10</button>
        <br>

        <label for="file">Base Addition : </label>
        <progress id="baseAdd" value="0" max="100" style = "display : inline"></progress>
        <p id = "baseAdd-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" id = "baseAdd-Btn" onclick = "upgrade('baseAdd')">10</button>
        <br>

        <label for="file">Automa Dice : </label>
        <progress id="autoDice" value="0" max="1" style = "display : inline"></progress>
        <p id = "autoDice-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" id = "autoDice-Btn" onclick = "upgrade('autoDice')">1000</button>
        <br>
        <p>Score: <span id="score2">0</span></p>
        <button id="ruleButton">Rules</button>
    </div>
    

    <script src="game_script.js"></script>
</body>
</html>
