<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiLo Game</title>
    <link rel="stylesheet" href="game_style.css">
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>HiLo Game : <span id = "game-State"></span></h1>
        <p>Current result : <span id="result"></span> <span id = "winning-status"></span></p>
        <p>Timer : <span id = "timer-Text"></span></p>
        <p>Your bet : <input type="number" id="bet-value"></p>
        <button id = "hi-Btn">Higher</button>
        <button id = "lo-Btn">Lower</button>
        <button id = "hilo-Btn">HiLo</button>
        <br>
        <button id = "roll-Btn">Roll</button>
        <p id="result"></p>
        <p>Score: <span id="score">0</span></p>
        <br>
        <button id="homeButton">Back to Home</button>
    </div>
    
    <div class="container">
        <h1>Account Statistic</h1>
        <h2>Rank : <span id = "ranking"></span></h2>
        <p>Score: <span id="score">0</span></p>
        <h2>Upgrade</h2>

        <label for="file">Rolling Time : </label>
        <progress id="rolling-Time" value="0" max="100" style = "display : inline"></progress>
        <p id = "rollingTime-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" onclick = "upgrade('rolling-Time')">+</button>
        <br>

        <label for="file">High Multiplier : </label>
        <progress id="high-Mul" value="0" max="100" style = "display : inline"></progress>
        <p id = "highMul-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" onclick = "upgrade('high-Mul')">+</button>
        <br>

        <label for="file">Low Multiplier : </label>
        <progress id="low-Mul" value="0" max="100" style = "display : inline"></progress>
        <p id = "lowMul-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" onclick = "upgrade('low-Mul')">+</button>
        <br>

        <label for="file">HiLo Multiplier : </label>
        <progress id="hilo-Mul" value="0" max="100" style = "display : inline"></progress>
        <p id = "hiloMul-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" onclick = "upgrade('hilo-Mul')">+</button>
        <br>

        <label for="file">Base Adder : </label>
        <progress id="base-Add" value="0" max="100" style = "display : inline"></progress>
        <p id = "baseAdd-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" onclick = "upgrade('base-Add')">+</button>
        <br>

        <button id="ruleButton">Rules</button>
    </div>
    

    <script src="game_script.js"></script>
</body>
</html>
