<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiLo Game</title>
    <link rel="stylesheet" href="game_style.css">
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>HiLo Game : <span id = "game-State"></span></h1>
        <p>Current result : <span id="result"></span> <span id = "winning-status"></span></p>
        <p>Timer : <span id = "timer-Text"></span></p>
        <p>Your bet : <input type="number" id="bet-value"></p>
        <button id = "hi-Btn">Higher</button>
        <button id = "lo-Btn">Lower</button>
        <button id = "hilo-Btn">HiLo</button>
        <br>
        <button id = "roll-Btn">Roll</button>
        <p id="result"></p>
        <p>Score: <span id="score">0</span></p>
        <br>
        <button id="homeButton">Back to Home</button>
    </div>
    
    <div class="container">
        <h1>Account Statistic</h1>
        <h2 id = "username">Rank : </h2>
        <p>Score: <span id="score">0</span></p>
        <h2>Upgrade</h2>

        <label for="file">Rolling Time : </label>
        <progress id="rolling-Time" value="0" max="100" style = "display : inline"></progress>
        <p id = "rolling-Time-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" id = "rolling-Time-Btn" = "upgrade('rolling-Time')">10</button>
        <br>

        <label for="file">Hi Multiplier : </label>
        <progress id="high-Mul" value="0" max="100" style = "display : inline"></progress>
        <p id = "high-Mul-Text", style = "display: inline">3</p>
        <button class = "upgrade-Btn" id = "high-Mul-Btn" onclick = "upgrade('high-Mul')">10</button>
        <br>

        <label for="file">Lo Multiplier : </label>
        <progress id="low-Mul" value="0" max="100" style = "display : inline"></progress>
        <p id = "low-Mul-Text", style = "display: inline">2</p>
        <button class = "upgrade-Btn" id = "low-Mul-Btn" onclick = "upgrade('low-Mul')">10</button>
        <br>

        <label for="file">HiLo Multipler : </label>
        <progress id="hilo-Mul" value="0" max="100" style = "display : inline"></progress>
        <p id = "hilo-Mul-Text", style = "display: inline">5</p>
        <button class = "upgrade-Btn" id = "hilo-Mul-Btn" onclick = "upgrade('hilo-Mul')">10</button>
        <br>

        <label for="file">Base Addition : </label>
        <progress id="base-Add" value="0" max="100" style = "display : inline"></progress>
        <p id = "base-Add-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" id = "base-Add-Btn" onclick = "upgrade('base-Add')">10</button>
        <br>

        <label for="file">Automa Dice : </label>
        <progress id="auto-Dice" value="0" max="1" style = "display : inline"></progress>
        <p id = "auto-Dice-Text", style = "display: inline">0</p>
        <button class = "upgrade-Btn" id = "auto-Dice-Btn" onclick = "upgrade('auto-Dice')">1000</button>
        <br>

        <button id="ruleButton">Rules</button>
    </div>
    

    <script src="game_script.js"></script>
</body>
</html>
