<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login_style.css">
</head>
<body>
    <h1>Login</h1>
    <form action="/loginForm" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <a href="/signin">Doesn't have an account?</a>
    <br>
    <button id="homeButton">Back to Home</button>
    <script src="login_script.js"></script>
    <script src="utils/link.js"></script>
</body>
</html>
