<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login_style.css">
    <style>
        .error {
            color: red;
        }
        .error-border {
            border: 2px solid red;
        }
    </style>
</head>
<body>
    <!-- <h1>Login</h1>
    <form id="loginForm" action="/loginForm" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <div id="error-message" class="error"></div>
    <a href="/signin">Don't have an account?</a>
    <br>
    <button id="homeButton">Back to Home</button>
    <script src="login_script.js"></script> -->

    <div class="wrapper">
        <form id="loginForm" action="/loginForm" method="POST">
            <h1>
                Log In
            </h1>
            <div class="input-box">
                <input type="text" placeholder="Username" id="username" name="username" required><br><br>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" id="password" name="password" required><br><br>
            </div>

            <div id="error-message" class="error"></div>

            <input type="submit" class="btn" value="Login">
                
            <div class="register-link">
                <p>
                    Don't have an account?
                    <a href="/signin">
                        Register
                    </a>
                </p>
            </div>
        </form>
    </div>

    <script src="login_script.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    
</body>
</html>